<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
<link rel="stylesheet" href="../../styles/app.css">
<link rel="stylesheet" href="../../styles/restaurants.css">

<div class="restaurants-admin-container">
    <h1>Restaurants</h1>
    <restaurant-item rate = '3' name="Khaled" description="rrwefwefwefwefnnnnnnnnnnnnnnnnnnnnnnnnndwnnnnnnnnnnnnnnnwkjefnwkjfnkwjenfwe"></restaurant-item>
</div>

<script src="../../js/restaurant-edit.js"></script>
<script src="../../js/restaurant-item.js"></script>