<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
<link rel="stylesheet" href="../../styles/app.css">
<link rel="stylesheet" href="../../styles/restaurants.css">

<div class="restaurants-admin-container">
    <h1>Reviews</h1>
    <review-item name="Khaled Faour" rate="4" review-text="Bad!!!"></review-item>
</div>


<!-- <script src="../../js/restaurant-edit.js"></script> -->
<script src="../../js/review-item.js"></script>
<!-- <script src="../../js/admin-restaurants.js"></script> -->