<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
<link rel="stylesheet" href="../../styles/app.css">
<link rel="stylesheet" href="../../styles/restaurants.css">

<div class="users-admin-container">
    <h1>Users</h1>
    <user-item fname = "khaled" lname="Faour" dob="29/01/1998"></user-item>
    <my-edit></my-edit>
</div>

<script src="../../js/edit.js"></script>
<script src="../../js/user-item.js"></script>