<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
            integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="../styles/app.css">
        <link rel="stylesheet" href="../styles/restaurants.css">
        <link rel="stylesheet" href="../styles/profile.css">
        <title>Tomato Home</title>
    </head>
    <body>
        <div class="nav"></div>
        <div class="header">
            <div class="profile-pic">
                <img src="../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="">
            </div>
            <div info>
                <div>First Name:</div>
                <div>Last Name:</div>
                <div>Email:</div>
                <div>Phone:</div>
                <div>Location:</div>
                <div>Date of Birth:</div>
                <button>Edit</button>
            </div>
        </div>
        <div class="categories-container">
            <div class="categories">
                <div cat>Recently Reviewed</div>
                <div cat>Favorites</div>
            </div>
        </div>
        <div class="container">
            <div class="card-container">
                <div class="card">
                    <div class="img">
                        <img src="../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="">
                    </div>
                    <div class="title">
                        Hakoona Matata
                    </div>
                    <div class="rating">
                        <div>Rating </div>
                        <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i></div>
                    </div>
                    <div>
                        <div class="cuisine">Cuisine: catfood</div>
                        <div class="leave-a-review">Leave a Review</div>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="img">
                        <img src="../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="">
                    </div>
                    <div class="title">
                        Hakoona Matata
                    </div>
                    <div class="rating">
                        <div>Rating </div>
                        <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i></div>
                    </div>
                    <div>
                        <div class="cuisine">Cuisine: catfood</div>
                        <div class="leave-a-review">Leave a Review</div>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="img">
                        <img src="../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="">
                    </div>
                    <div class="title">
                        Hakoona Matata
                    </div>
                    <div class="rating">
                        <div>Rating </div>
                        <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i></div>
                    </div>
                    <div>
                        <div class="cuisine">Cuisine: catfood</div>
                        <div class="leave-a-review">Leave a Review</div>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="img">
                        <img src="../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="">
                    </div>
                    <div class="title">
                        Hakoona Matata
                    </div>
                    <div class="rating">
                        <div>Rating </div>
                        <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i></div>
                    </div>
                    <div>
                        <div class="cuisine">Cuisine: catfood</div>
                        <div class="leave-a-review">Leave a Review</div>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="img">
                        <img src="../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="">
                    </div>
                    <div class="title">
                        Hakoona Matata
                    </div>
                    <div class="rating">
                        <div>Rating </div>
                        <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i></div>
                    </div>
                    <div>
                        <div class="cuisine">Cuisine: catfood</div>
                        <div class="leave-a-review">Leave a Review</div>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="img">
                        <img src="../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="">
                    </div>
                    <div class="title">
                        Hakoona Matata
                    </div>
                    <div class="rating">
                        <div>Rating </div>
                        <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i><i
                                class="fa-regular fa-star"></i></div>
                    </div>
                    <div>
                        <div class="cuisine">Cuisine: catfood</div>
                        <div class="leave-a-review">Leave a Review</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/elements.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>