<!DOCTYPE html>
<html lang="en">
    <script src="../js/navbar.js"></script>
    <script src="../js/card.js"></script>
    <script src="../js/head.js"></script>
    <script src="../js/user.js"></script>
    <my-header></my-header>
    <body>
        <my-navbar />
        <my-user name="Yousef" lastName="Baytam" email="yousefbaytam.yb@gmail.com" phone="71751324" location="Beirut"
            dob="4/5/1998">
            <div class="categories-container">
                <div class="categories">
                    <div class="profile-cat" cat>Reviewed</div>
                    <div class="profile-cat" cat>Favorites</div>
                </div>
            </div>
            <div class="container">
            </div>
            <div class="form-bg hidden">
                <div class="steps-container">
                    <div class="form-container">
                        <form action="#" method="POST" class="form">
                            <div>
                                <i class="fa-solid fa-xmark"></i>
                                <input type="text" name="First" placeholder="First Name">
                            </div>
                            <div>
                                <input type="text" name="Last" placeholder="Last Name">
                            </div>
                            <div>
                                <input type="number" name="Phone" placeholder="Phone Number">
                            </div>
                            <div>
                                <label dob-label for="dob"> Date of Birth</label>
                                <input type="Date" name="dob" id='dob'>
                            </div>
                            <div>
                                <input type="Email" name="Email" placeholder="Email">
                            </div>
                            <div>
                                <input type="password" name="Passwrod" placeholder="Password">
                            </div>
                            <input type="submit" name="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
            <script src="../js/elements.js"></script>
            <script src="../js/app.js"></script>
    </body>
</html>