<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
            integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/navbar.js"></script>
        <script src="../js/card.js"></script>
        <script src="../js/review.js"></script>
        <link rel="stylesheet" href="../styles/app.css">
        <link rel="stylesheet" href="../styles/restaurants.css">
        <link rel="stylesheet" href="../styles/profile.css">
        <title>All Restaurants</title>
    </head>
    <body>
        <my-navbar logoSrc='../assets/tomato.png' />
        <div class="header">
            <div>
                <p>location City, Area <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg></p>
            </div>
            <div>
                <div class="header-container">
                    <div class="filters">Clear Filters</div>
                    <div class="Sort">Sort by Popularity</div>
                </div>
                <div class="search">
                    <input type="text" name="search" placeholder="Search by Name">
                </div>
            </div>
        </div>
        <div class="categories-container">
            <div class="categories">
                <div cat rescat>Dine In</div>
                <div cat rescat>Order</div>
                <div cat rescat>Night Out</div>
            </div>
        </div>
        <div class="container">
        </div>
        <my-review rev='' />
        <script src="../js/login.js"></script>
        <script src="../js/elements.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>