:root {
    --main-color: #353941;
    --primary-color: #26282B;
    --secondary-color: #F0F0F0;
    --tertiary-color: #90B8F8;
    --text-color: #000000;
    --diabled-color: #2c3036;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/shawnanggg-nmpW_WwwVSc-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

[main] {
    font-size: 8em;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 200ms ease;
}

[main] div {
    display: flex;
    flex-direction: column;
}

[main] span {
    margin-left: 1em;
    font-size: 0.2em;
}

[main] img {
    width: 3em;
}

nav {
    color: var(--secondary-color);
    display: flex;
    position: fixed;
    width: 100%;
    padding: 2.5vh 8vw;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 150%;
    transition: all 200ms ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    align-self: center;
    width: 50px;
}

[admin] {
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 2em;
}

nav div {
    display: flex;
    width: 15em;
}

nav div:nth-of-type(2) {
    justify-content: end;
}

.log-in {
    justify-content: end;
    width: fit-content;
    cursor: pointer;
    transition: all 200ms ease;
}

.log-in:hover {
    color: var(--tertiary-color);
    transform: scale(1.1);
}

.logged-in {
    display: flex;
    width: fit-content;
    text-align: end;
    justify-content: flex-end;
    transition: all 200ms ease;
}

.logged-in [img] img {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.logged-in [img],
[username] {
    width: fit-content;
    margin-left: 1em;
}

[profile] {
    background-color: rgba(0, 0, 0, 0.7);
    width: fit-content;
    height: 7.5em;
    padding: 0.51em 1.5em;
    position: absolute;
    top: 2.8em;
    right: 12%;
    border-radius: 10px;
    cursor: pointer;
}

.profile-pic img {
    transition: all 200ms ease;
}

.profile-pic img:hover {
    transform: scale(1.1);
    box-shadow: 0em 0em 1em black;
}

.edit:hover {
    background-color: #b4b4b4;
}

[profile] div {
    width: 7.5em;
    height: 3em;
    padding: 1em;
}

.logged-in:hover [profile] {
    display: block !important;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 200ms ease;
}

a:not([href="http://localhost/tomato/tomatoFrontend/index.html"]):hover::after {
    content: ' »';
}

a:hover:not([href="http://localhost/tomato/tomatoFrontend/index.html"]) {
    transform: translateX(-5%);
    color: var(--tertiary-color);
}

[not-found] {
    color: rgb(255, 255, 255);
}

.form-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 200ms linear;
    opacity: 1;
    box-shadow: 0 0 50em black;
    z-index: 1;
}

.hidden {
    opacity: 0;
    transform: scale(0);
}

.form {
    width: 350px;
    height: fit-content;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(97, 0, 0, 0.705);
    border-radius: 10px;
    transition: all 100ms linear;
}



.form div {
    flex-direction: column;
    display: flex;
    width: 100%;
}

[step] {
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(0, 172, 0);
    width: 50%;
    height: 2.5em;
    cursor: pointer;
    margin-bottom: 0.8em;
    transition: all 200ms ease;
    color: var(--secondary-color);
}

[dob-label] {
    color: white;
    margin: 0 0 0.5em 0.5em;
}

i {
    align-self: flex-end;
    color: var(--tertiary-color);
    margin-bottom: 0.7em;
    cursor: pointer;
    transition: all 200ms ease;
}

i:hover {
    transform: scale(1.5);
}

div[step] {
    height: 3em;
}

div[step]:hover {
    background-color: green;
}

input,
.cousine-list {
    width: 100%;
    margin-bottom: 1.5em;
    height: 3.5em;
    border-radius: 5px;
    padding: 0.5em 2em;
    outline: none;
    border: none;
}

input[type='Email'] {
    background-image: url('../assets/at-solid.svg');
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 0.5em;
    padding-left: 4em;
}

input[type='password'] {
    background-image: url('../assets/key-solid.svg');
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 0.5em;
    padding-left: 4em;
}

input[type='submit'] {
    background-color: rgb(199, 199, 199);
    width: 100%;
    margin-top: 4em;
    transition: all 200ms ease;
}

input[type='submit']:hover {
    box-shadow: 0em 0.5em 0.5em var(--text-color);
    transform: translateY(-5%);
}

.translate {
    transform: translateX(500%);
    display: none;
}

.fade-out {
    animation: fade 100ms linear forwards;
}

.slide {
    animation: slide 200ms ease-in-out reverse;
}


.admin-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    height: 100%;
    width: 256px;
    background-color: maroon;
}

.sidebar-head {
    color: var(--secondary-color);
    text-align: center;
    height: 64px;
}

.nav-list {
    list-style: none;
    padding-left: 0;
}

.nav-list a:hover::after {
    content: '';
}

.nav-list li {
    height: 48px;
    padding-top: 16px;
    margin: 1px 5px;
    border-radius: 5px;
}

.nav-list li:hover,
.nav-list .selected {
    background-color: rgb(86, 0, 0);
}

.nav-list li * {
    padding-right: 32px;
}

.nav-list li i {
    transition: none;
    padding-left: 16px;
    color: var(--secondary-color);
}

.nav-list li i:hover {
    transform: none;
}

.restaurants-admin-container,
.users-admin-container,
.reviews-admin-container {
    margin: 10px;
}

.restaurants-admin-container>h1,
.users-admin-container>h1 {
    margin-bottom: 50px;
}

.admin-card {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    width: 90%;
    padding: 10px 20px;
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.admin-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.admin-card .head {
    display: flex;
    justify-content: space-between;
}

.admin-card .head .title *,
.admin-card .content .description * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.restaurant-item-logo {
    margin: 10px;
}

.restaurant-item-logo img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.edit-restaurant .form-container,
.add-restaurant .form-container {
    flex-direction: column;
}

.edit-restaurant-close {
    align-self: flex-end;
}

.admin-user-card {
    display: flex;
    background-color: var(--secondary-color);
    width: 90%;
    padding: 10px 20px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.admin-user-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.admin-user-card .profile-pic img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.admin-user-card .head {
    display: flex;
    justify-content: space-between;
}

.admin-user-card .head .title *,
.admin-user-card .content .description * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.admin-review-card {
    display: flex;
    background-color: var(--secondary-color);
    width: 90%;
    padding: 10px 20px;
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.admin-review-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.admin-review-card .profile-pic img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.admin-review-card .head {
    display: flex;
    justify-content: space-between;
}

.admin-review-card .head .title *,
.admin-review-card .content .description * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.restaurant-add {
    /* width: 90%; */
    margin: auto;
    text-align: right;
    margin-bottom: 10px;
}

.restaurant-add button {
    padding-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: maroon;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.restaurant-add button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.restaurant-add button:active {
    opacity: 0.7;
}

.restaurant-add button i {
    transform: none;
    color: inherit;

}

.filter {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.reviews-search-container,
.restaurant-search-container,
.users-search-container {
    width: 50%;
}

.filter-list,
#reviews-search,
#restaurants-search,
#users-search {
    width: 50%;
    margin-bottom: 1.5em;
    height: 3.5em;
    border-radius: 5px;
    padding: 0.5em 2em;
    outline: none;
    border: 1px solid maroon;
}

#reviews-search,
#restaurants-search,
#users-search {
    width: 100%;
}

#reviews-search-icon,
#restaurants-search-icon,
#users-search-icon {
    position: absolute;
    padding: 15px 7px;
    transform: none;
    cursor: default;
}

.restaurant-head,
.users-head {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 2px 16px;
    background-color: maroon;
    color: white;
}


.modal-body {
    padding: 2px 16px;
}


.modal-footer {
    text-align: right;
    padding: 2px 16px;
    background-color: white;
    color: white;
    margin-bottom: 10px;
}

.modal-footer #edit-save,
.modal-footer #add-save {
    padding: 5px 10px;
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-footer #edit-cancel,
.modal-footer #add-cancel {
    padding: 5px 10px;
    background-color: transparent;
    color: maroon;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.edit-close,
.add-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.edit-close:hover,
.edit-close:focus,
.add-close:hover,
.add-close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.logo-container {
    display: flex;
    margin-bottom: 20px;
    width: 100%;

}

.logo-container input {

    width: 50%;
}

#restaurant-edit-modal #restaurant-namee,
#restaurant-edit-modal #restaurant-description,
#restaurant-edit-modal #restaurant-city,
#restaurant-edit-modal #restaurant-status,
#restaurant-edit-modal #restaurant-edit-category,
#restaurant-edit-modal #restaurant-edit-type,
#restaurant-add-modal #restaurant-add-namee,
#restaurant-add-modal #restaurant-add-description,
#restaurant-add-modal #restaurant-add-city,
#restaurant-add-modal #restaurant-add-status,
#restaurant-add-modal #restaurant-add-category,
#restaurant-add-modal #restaurant-add-type {
    width: 100%;
    border: 1px solid maroon;
    margin-bottom: 1.5em;
    height: 3.5em;
    border-radius: 5px;
    padding: 0.5em 2em;
    outline: none;
}

#restaurant-logo,
#restaurant-add-logo {
    border: 1px solid maroon;
    border-radius: 8px;
    height: 200px;
    width: 200px;
}


.action-buttons {
    display: flex;
    gap: 10px;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

[new-account] {
    width: 700px;
}

[new-account] div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

[new-account] div div {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: baseline;
}

[new-account] input {
    max-width: 300px;
}

.back {
    justify-content: center !important;
    align-items: center;
    width: 44.8% !important;
}

[new-account] [type="submit"] {
    margin-top: 1em;
}

[adminNav] {
    background-color: #000000;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(300%);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.75);
    }
}