:root {
    --main-color: #353941;
    --primary-color: #26282B;
    --secondary-color: #F0F0F0;
    --tertiary-color: #90B8F8;
    --text-color: #000000;
    --diabled-color: #2c3036;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/shawnanggg-nmpW_WwwVSc-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

[main] {
    font-size: 8em;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

[main] img {
    width: 25%;
}

nav {
    color: var(--secondary-color);
    display: flex;
    position: fixed;
    width: 100%;
    padding: 4vh 8vw;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 150%;
    transition: all 200ms ease;
}

nav div {
    display: flex;
    width: 15em;
}

.log-in {
    justify-content: end;
    width: fit-content;
    cursor: pointer;
    transition: all 200ms ease;
}

.log-in:hover {
    color: var(--tertiary-color);
    transform: scale(1.1);
}

.d-none {
    display: none !important;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 200ms ease;
}

a:hover::after {
    content: ' »';
}

a:hover {
    transform: translateX(-5%);
    color: var(--tertiary-color);
}

.form-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 200ms linear;
    opacity: 1;
    box-shadow: 0 0 50em black;
}

.hidden {
    opacity: 0;
    transform: scale(0);
}

.form {
    width: 350px;
    height: 350px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 10px;
    transition: all 100ms linear;
}

.form div {
    flex-direction: column;
    display: flex;
    width: 100%;
}

.form div:nth-last-of-type(1) {
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(0, 172, 0);
    width: 50%;
    height: 5vh;
    cursor: pointer;
    margin-bottom: 0.8em;
    transition: all 200ms ease;
    color: var(--secondary-color);
}

i {
    align-self: flex-end;
    color: var(--tertiary-color);
    margin-bottom: 0.7em;
    cursor: pointer;
    transition: all 200ms ease;
}

i:hover {
    transform: scale(1.5);
}

div[step]:hover {
    background-color: green;
}

input {
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    padding: 0.5em 2em;
    outline: none;
    border: none;
}

input[type='Email'] {
    background-image: url('../assets/at-solid.svg');
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 0.5em;
    padding-left: 4em;
}

input[type='password'] {
    background-image: url('../assets/key-solid.svg');
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 0.5em;
    padding-left: 4em;
}

input[type='submit'] {
    width: 100%;
    margin-top: 4em;
    transition: all 200ms ease;
}

input[type='submit']:hover {
    box-shadow: 0em 0.5em 0.5em var(--secondary-color);
    transform: translateY(-5%);
}

.translate {
    transform: translateX(500%);
    display: none;
}

.fade-out {
    animation: fade 100ms linear forwards;
}

.slide {
    animation: slide 200ms ease-in-out reverse;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(300%);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.75);
    }
}