.header-2 {
    color: var(--secondary-color);
    padding: 15vh 8vw 0em 8vw;
    font-size: 150%;
    background: linear-gradient(-45deg, rgba(128, 0, 0, 0.6), maroon, rgba(128, 0, 0, 0.6));
    background-size: 200% 200%;
    animation: color 10s ease infinite;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

[info] {
    height: 50vh;
    margin: 2em 0 2em 8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: all 200ms ease;
}

[extra] {
    height: 1.2em;
    transition: all 200ms ease;
}

[two] {
    margin-left: 2em;
    transition: all 200ms ease;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-sizing: content-box;
    transition: all 200ms ease;
}

.profile-pic img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.profile-cat:nth-of-type(2) {
    border: none !important;
}

.edit {
    padding: 0.5em 4em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width:900px) {
    nav {
        font-size: 1em;
    }

    [info] {
        font-size: 0.6em;
        margin-left: 3em;
        height: 15em;
    }

    [two] {
        margin-left: 0em;
    }

    .profile-pic img,
    .profile-pic {
        width: 150px;
        height: 150px;
    }

    [extra] {
        height: 2em;
    }

    .edit {
        transform: scale(0.8);
    }

    .header {
        font-size: 1.2em;
    }

    .search {
        transform: scale(0.8) translateY(-12%);
    }

    [new-account] {
        transform: scale(0.7);
    }

    [review] {
        transform: scale(0.7);
    }

    [main] {
        flex-direction: column;
        font-size: 6em;
    }
}