:root {
    --main-color: #353941;
    --primary-color: #26282B;
    --secondary-color: #F0F0F0;
    --tertiary-color: #90B8F8;
    --text-color: #000000;
    --diabled-color: #2c3036;
}

.header {
    color: var(--secondary-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/tim-toomey-STqHLqMne3k-unsplash.jpg');
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10em 8vw 0em 8vw;
    font-size: 150%;
}